table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: white;
}
.container-winner {
  transition: ease all 0.75s;
  background-color: #f5fffa;
  border-radius: 7px;
  width: 700px;
  padding: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 17px;
  margin-bottom: 17px;
  overflow: auto;
}

@media all and (max-width: 850px) {
  .container-winner {
    width: 700px;
  }
}
@media all and (max-width: 750px) {
  .container-winner {
    width: 600px;
  }
}
@media all and (max-width: 650px) {
  .container-winner {
    width: 400px;
  }
}
@media all and (max-width: 400px) {
  .container-winner {
    width: 300px;
  }
}
